In [62]:
import pandas as pd
from sklearn.metrics import confusion_matrix

from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

## 2. Given the following confusion matrix, evaluate (by hand) the model's performance.
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |



- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

In [64]:
tp = 46
tn = 34
fp = 13
fn = 7



# false positive is when one predictd cat, but the actual was dog

# false negative is hen you predict dog, but the actual was cat





accuracy = (tp + tn) / (tp + tn + fp + fn)
recall = tp / (tp + fn)
precision = tp / (tp + fp)

accuracy,recall,precision

(0.8, 0.8679245283018868, 0.7796610169491526)

## 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

- A. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- B. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [3]:
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [4]:
df.describe()

           actual     model1     model2     model3
count         200        200        200        200
unique          2          2          2          2
top     No Defect  No Defect  No Defect  No Defect
freq          184        190        110        101

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [6]:
df.shape

(200, 4)

In [7]:
# A. 

pd.crosstab(df.actual, df.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [8]:
y_true = df.actual
y_pred = df.model1

In [9]:
confusion_matrix(y_true, y_pred)

array([[  8,   8],
       [  2, 182]])

In [10]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['No Defect', 'Defect']).ravel()
tn, fp, fn, tp

(182, 2, 8, 8)

In [11]:
pd.crosstab(df.actual, df.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [12]:
y_true = df.actual
y_pred = df.model2

In [13]:
confusion_matrix(y_true, y_pred)

array([[  9,   7],
       [ 81, 103]])

In [14]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['No Defect', 'Defect']).ravel()
tn, fp, fn, tp

(103, 81, 7, 9)

In [15]:
pd.crosstab(df.actual, df.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [16]:
y_true = df.actual
y_pred = df.model3

In [17]:
confusion_matrix(y_true, y_pred)

array([[13,  3],
       [86, 98]])

In [18]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['No Defect', 'Defect']).ravel()
tn, fp, fn, tp

(98, 86, 3, 13)

In [19]:
# Model 1

subset = df[df.actual == 'Defect']
subset.head()

    actual     model1     model2  model3
13  Defect  No Defect     Defect  Defect
30  Defect     Defect  No Defect  Defect
65  Defect     Defect     Defect  Defect
70  Defect     Defect     Defect  Defect
74  Defect  No Defect  No Defect  Defect

In [20]:
#Model 1 recall

model_recall = (subset.actual == subset.model1).mean()
print("Model 1")
print(f"Model recall: {model_recall:.2%}")

Model 1
Model recall: 50.00%

In [21]:
#Model 2 recall

model_recall = (subset.actual == subset.model2).mean()
print("Model 2")
print(f"Model recall: {model_recall:.2%}")

Model 2
Model recall: 56.25%

In [22]:
#Model 3 recall

model_recall = (subset.actual == subset.model3).mean()
print("Model 3")
print(f"Model recall: {model_recall:.2%}")

Model 3
Model recall: 81.25%

In [23]:
# B)
subset = df[df.model1 == 'Defect']

model_precision = (subset.actual == subset.model1).mean()

print("Model 1")
print(f"Model precision: {model_precision:.2%}")

Model 1
Model precision: 80.00%

In [24]:
subset = df[df.model2 == 'Defect']

model_precision = (subset.actual == subset.model2).mean()

print("Model 2")
print(f"Model precision: {model_precision:.2%}")

Model 2
Model precision: 10.00%

In [25]:
subset = df[df.model3 == 'Defect']

model_precision = (subset.actual == subset.model3).mean()

print("Model 3")
print(f"Model precision: {model_precision:.2%}")

Model 3
Model precision: 13.13%

In [65]:
# you want to use model 1

## 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- A. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
- B. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
- C. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [26]:
paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [27]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [28]:
paws['baseline_prediction'] = 'dog'
paws

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [29]:
# baseline Accuracy
base_a = (paws.actual == paws.baseline_prediction).mean()
base_a

0.6508

In [30]:
# A.
pd.crosstab(paws.actual, paws.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [31]:
y_true = paws.actual
y_pred = paws.model1

In [32]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()
tn, fp, fn, tp

(1423, 323, 640, 2614)

In [33]:
a1 = (tp+tn)/(tp+tn+fp+fn)
a1

0.8074

In [34]:
pd.crosstab(paws.actual, paws.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [35]:
y_true = paws.actual
y_pred = paws.model2

In [36]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()
tn, fp, tn, tp

(1555, 191, 1555, 1597)

In [37]:
a2 = (tp+tn)/(tp+tn+fp+fn)
a2

0.6304

In [38]:
pd.crosstab(paws.actual, paws.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [39]:
y_true = paws.actual
y_pred = paws.model3

In [40]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()
tn, fp, fn, tp

(893, 853, 1599, 1655)

In [41]:
a3 = (tp+tn)/(tp+tn+fp+fn)
a3

0.5096

In [42]:
pd.crosstab(paws.actual, paws.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [43]:
y_true = paws.actual
y_pred = paws.model4

In [44]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()
tn, fp, fn, tp

(603, 1143, 144, 3110)

In [45]:
a4 = (tp+tn)/(tp+tn+fp+fn)
a4

0.7426

In [46]:
base_a,a1,a2,a3,a4 
# Model 1 and 4 are better models than baseline.

(0.6508, 0.8074, 0.6304, 0.5096, 0.7426)

In [47]:
# B) Suppose you are working on a team that solely deals with dog pictures. 
    # Which of these models would you recomend for Phase I? For Phase II?
subset = paws[paws.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline_prediction
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
5    dog    dog    dog    dog    dog                 dog
8    dog    dog    cat    dog    dog                 dog

In [48]:
#Model 1 recall (Use this to minimize defects if you want majority dogs)

model_recall = (subset.actual == subset.model1).mean()
print("Model 1")
print(f"Model recall: {model_recall:.2%}")
print('')

#Model 2 recall

model_recall = (subset.actual == subset.model2).mean()
print("Model 2")
print(f"Model recall: {model_recall:.2%}")
print('')

#Model 3 recall

model_recall = (subset.actual == subset.model3).mean()
print("Model 3")
print(f"Model recall: {model_recall:.2%}")
print('')

#Model 4 recall

model_recall = (subset.actual == subset.model4).mean()
print("Model 4")
print(f"Model recall: {model_recall:.2%}")

Model 1
Model recall: 80.33%

Model 2
Model recall: 49.08%

Model 3
Model recall: 50.86%

Model 4
Model recall: 95.57%

In [49]:
# Model 4 should be used in Phase I. (dog)

In [50]:
subset1 = paws[paws.model1 == 'dog']
subset2 = paws[paws.model2 == 'dog']
subset3 = paws[paws.model3 == 'dog']
subset4 = paws[paws.model4 == 'dog']

In [51]:
# preceison model 1 
model_precision = (subset1.actual == subset1.model1).mean()

print("Model 1")
print(f"Model precision: {model_precision:.2%}")

Model 1
Model precision: 89.00%

In [52]:
# preceison model 2 
model_precision = (subset2.actual == subset2.model2).mean()

print("Model 2")
print(f"Model precision: {model_precision:.2%}")

Model 2
Model precision: 89.32%

In [53]:
# preceison model 3
model_precision = (subset3.actual == subset3.model3).mean()

print("Model 3")
print(f"Model precision: {model_precision:.2%}")

Model 3
Model precision: 65.99%

In [54]:
# preceison model 4
model_precision = (subset4.actual == subset4.model4).mean()

print("Model 4")
print(f"Model precision: {model_precision:.2%}")

Model 4
Model precision: 73.12%

In [55]:
# Model 2 should be used in Phase II for the best results (dog)

In [56]:
# C) Suppose you are working on a team that solely deals with cat pictures. 
    # Which of these models would you recomend for Phase I? For Phase II?

In [57]:
x = classification_report(paws.actual, paws.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [58]:
x = classification_report(paws.actual, paws.model2,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [59]:
x = classification_report(paws.actual, paws.model3,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [60]:
x = classification_report(paws.actual, paws.model4,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

In [61]:
# Model 2 should be used in Phase II (cat).
# Model 4 should be used in Phase I for the best results (cat)

## 5) Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

  - sklearn.metrics.accuracy_score
  - sklearn.metrics.precision_score
  - sklearn.metrics.recall_score
  - sklearn.metrics.classification_repo